<span class="party-chip{{#if bemMod}} party-chip--{{bemMod}}{{/if}}" aria-label="{{localize title}}" {{#if
  action}}data-action="{{action}}" {{/if}}{{#if label}} data-label="{{label}}" {{/if}}
  data-tooltip="{{localize title}}">
  <i class="fas {{icon}}"></i>
  <span class="party-chip__value">
    {{!-- Note: the eq helper comes from the system! --}}
    {{!--#unless (eq value null) --}}
    {{value}}
    {{!-- else --}}
    {{!-- -- --}}
    {{!-- /unless --}}
  </span>
</span>